.header__navbar {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.header__navbar-detail {
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    font-size: 24px;
    color: #fff;

}

.header__navbar-detail a {
    color: #fff;
    
    text-decoration: none;
}


